<ag-grid-angular
  style="width: 100vw; height: 100vh;"
  #jobqueueGrid
  [ngClass]="themeClass"
  [gridOptions]="jobqueueGridOptions"
  (gridReady)="onJobqueueGridReady($event)"
  [contextMenu]="jobqueueMenu"
  >
</ag-grid-angular>

<context-menu [menuClass]="themeClass" #jobqueueMenu>
  <ng-template contextMenuItem [iconTemplate]="executeIcon" [visible]="true" (execute)="executeAllJobs()">
    Execute queued jobs
  </ng-template>
  <ng-template contextMenuItem [iconTemplate]="removeIcon" [visible]="true" (execute)="removeAllJobs()">
    Remove all jobs
  </ng-template>
  <ng-template contextMenuItem [divider]="true"></ng-template>
  <ng-template contextMenuItem [iconTemplate]="dashboardIcon" [visible]="true" (execute)="openDashboard()">
    Goto Dashboard
  </ng-template>
</context-menu>

<ng-template #executeIcon>
  <fa-icon [icon]="iconExecute"></fa-icon>
</ng-template>

<ng-template #removeIcon>
  <fa-icon [icon]="iconRemove"></fa-icon>
</ng-template>

<ng-template #dashboardIcon>
  <img src="assets/icons/favicon-16x16.png" />
</ng-template>
