<ag-grid-angular
  style="width: 100vw;"
  [style.height]="torrentHeight"
  #torrentGrid
  [ngClass]="themeClass"
  [gridOptions]="torrentGridOptions"
  (gridReady)="onTorrentGridReady($event)"
  [agContextMenu]="torrentMenu"
  >
</ag-grid-angular>

<ag-grid-angular
  style="width: 100vw;"
  [style.height]="summaryHeight"
  headerHeight="0"
  floatingFiltersHeight="0"
  #summaryGrid
  [ngClass]="themeClass"
  [gridOptions]="summaryGridOptions"
  (gridReady)="onSummaryGridReady($event)"
  >
</ag-grid-angular>


<ag-context-menu [menuClass]="themeClass" #torrentMenu>
  <ng-template agContextMenuItem [iconTemplate]="scheduleFullUpdateIcon" [visible]="true" (execute)="scheduleFullUpdate()">
    Run full update
  </ng-template>

  <ng-template agContextMenuItem [divider]="true"></ng-template>

  <ng-template agContextMenuItem [iconTemplate]="startIcon" [visible]="true" (execute)="startTorrents(selectedTorrents)">
    Start {{ selectedTorrents.length }} torrent<span *ngIf="selectedTorrents.length != 1">s</span>
  </ng-template>
  <ng-template agContextMenuItem [iconTemplate]="stopIcon" [visible]="true" (execute)="stopTorrents(selectedTorrents)">
    Stop {{ selectedTorrents.length }} torrent<span *ngIf="selectedTorrents.length != 1">s</span>
  </ng-template>
  <ng-template agContextMenuItem [iconTemplate]="removeIcon" [visible]="true" (execute)="removeTorrents(selectedTorrents)">
    Remove {{ selectedTorrents.length }} torrent<span *ngIf="selectedTorrents.length != 1">s</span>
  </ng-template>
  <ng-template agContextMenuItem [iconTemplate]="moveIcon" [visible]="true" [subMenu]="torrentMoveMenu">
    Move {{ selectedTorrents.length }} torrent<span *ngIf="selectedTorrents.length != 1">s</span> to
  </ng-template>
  <ag-context-menu [menuClass]="themeClass" #torrentMoveMenu>
    <ng-template agContextMenuItem [visible]="true" *ngFor="let client of torrentClients$ | async" (execute)="moveTorrents(selectedTorrents, client)">
      {{ client.display_name }}
    </ng-template>
  </ag-context-menu>

  <ng-template agContextMenuItem [divider]="true"></ng-template>

  <ng-template agContextMenuItem [iconTemplate]="jobqueueIcon" [visible]="true" (execute)="openJobqueue()">
    Goto Jobqueue
  </ng-template>

  <ng-template agContextMenuItem [divider]="true"></ng-template>

  <ng-template agContextMenuItem [iconTemplate]="themeIcon" [visible]="true" [subMenu]="torrentThemeMenu">
    Change theme
  </ng-template>
  <ag-context-menu [menuClass]="themeClass" #torrentThemeMenu>
    <ng-template agContextMenuItem [visible]="true" *ngFor="let theme of gridThemes" (execute)="setTheme(theme.themeClass)">
      {{ theme.displayName }}
    </ng-template>
  </ag-context-menu>
</ag-context-menu>

<ng-template #scheduleFullUpdateIcon>
  <fa-icon [icon]="iconScheduleFullUpdate"></fa-icon>
</ng-template>

<ng-template #startIcon>
  <fa-icon [icon]="iconStart"></fa-icon>
</ng-template>

<ng-template #stopIcon>
  <fa-icon [icon]="iconStop"></fa-icon>
</ng-template>

<ng-template #removeIcon>
  <fa-icon [icon]="iconRemove"></fa-icon>
</ng-template>

<ng-template #moveIcon>
  <fa-icon [icon]="iconMove"></fa-icon>
</ng-template>

<ng-template #jobqueueIcon>
  <fa-icon [icon]="iconJobqueue"></fa-icon>
</ng-template>

<ng-template #themeIcon>
  <fa-icon [icon]="iconTheme"></fa-icon>
</ng-template>